.navbar-brand{
    font-size: large;
}

.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* keeps it centered vertically */
}

.register-container {
  width: 400px;
}

.form-row {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 12px;
}

.form-row label {
  width: 120px;
  font-weight: 600;
}

.form-row input {
  flex: 1;
  padding: 6px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
